# Discord Bot Token – hole dir eins unter https://discord.com/developers/applications
DISCORD_TOKEN=your_token_here
# Die Bot-Sprache (de, en, fr, ja)
DEFAULT_LANGUAGE=en
# Deine Discord User-ID (Owner ID) für Admin-Berechtigungen
OWNER_ID=0
